body {
	font-family: Roboto, sans-serif;
	margin: 0;
}

header,
footer {
	background-color: #1f2937;
	display: flex;
	flex-direction: column;
	padding: 1em 10em;
}

nav {
	display: flex;
	flex: 1;
	justify-content: space-between;
	align-items: center;
}
.logo {
	font-size: 24px;
	color: #f9faf8;
}

nav ul {
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding: 0;
}
nav ul a {
	text-decoration: none;
	color: #e5e7eb;
	font-size: 18px;
}
nav ul li {
	padding: 15px;
}

.hero-info {
	padding: 3em;
	padding-left: 0;
}
.hero {
	display: flex;
	padding: 5em 0;
}

.hero h1 {
	color: #f9faf8;
	font-size: 48px;
	font-weight: 900;
	margin-bottom: 0;
}

.hero p {
	font-size: 18px;
	color: #e5e7eb;
	margin-top: 0;
}

.hero button {
	padding: 8px 25px;
	background-color: #3882f6;
	color: #f9faf8;
	border-radius: 10px;
	border: none;
}

.card-section {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.card-section h2 {
	font-size: 36px;
	color: #1f2937;
	font-weight: 900;
}
.cards {
	display: flex;
}
.card {
	width: 200px;
	padding: 25px;
	text-align: center;
}

.square {
	border: solid 3px #3882f6;
	border-radius: 25px;
	margin: 0 25px;
	height: 150px;
}

.quote {
	background-color: #e5e7eb;
	font-size: 36px;
	color: #1f2937;
	font-weight: 300;
	font-style: italic;
	padding: 2.5em 10em;
}

.quote p {
	font-weight: 900;
	font-size: 24px;
	text-align: right;
}

.cta-section {
	padding: 4em 15em;
	color: #f9faf8;
}

.cta {
	background-color: #3882f6;
	padding: 5em 10em;
	display: flex;
	justify-content: space-between;
	border-radius: 10px;
}

.cta-title {
	color: #f9faf8;
	font-size: 24px;
	font-weight: 600;
}
.cta-description {
	font-weight: 300;
	font-size: 18px;
}

.cta button {
	padding: 1em 3em;
	background-color: #3882f6;
	border-radius: 10px;
	border: 3px solid #f9faf8;
	color: #f9faf8;
	font-size: 18px;
}

footer {
	text-align: center;
	color: #f9faf8;
}
